body {
    background-color: #f7f7f7;
}

h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.row {
    margin-bottom: 20px;
}

.big-container {
    background-color: #fff;
    margin: 3%;
    padding: 15px;
    border: 1px solid #e6e6e6;
    box-shadow: 0 0 2px rgba(0,0,0,.1);
}

.container {
    max-width: 90%;
}

nav {
    border-bottom: 1px solid #e6e6e6;
    height: 50px;
}

.nav-item {
    line-height: 50px;
    font-size: 16px;
    color: #5adcea;
    width: auto;
}

.nav-item:hover {
    cursor: pointer;
    text-decoration: underline;
}

.nav-item.active {
    color: #000;
}

.fa-arrow-right {
    color: #ccc;
    opacity: .5;
    margin: 0 10px;
}

.form-body {
    padding: 15px 0;
}

.form-body h2 {
    font-size: 26px;
}

.main-settings, .fields, .button-set {
    margin-top: 30px;
}

.input-group-prepend input {
    height: 100%;
    width: 45px;
}

.maxlentgh-bar {
    width: 100%;
    height: 30px;
    position: relative;
    border-radius: 15px;
    border: 1px solid #c3c3c3;
    background-color: #f7f7f7;
}

.bluefill {
    background-color: #3a9de6;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 42%;
    border-radius: 15px 0 0 15px;
}

.round-range {
    background-color: #fff;
    height: 40px;
    width: 40px;
    position: absolute;
    top: -7px;
    left: 40%;
    border-radius: 50%;
    box-shadow: 0 0 7px rgba(0,0,0,.6)
}

.bluefill.disabled, .round-range.disabled {
    display: none;
}

.disabled {
    color: #c3c3c3;
}

.empty-space {
    height: 20px;
}

.btn-getHTML {
    margin-top: 20px;
    border: 2px solid #3acbe6;
    border-radius: 10px;
    font-weight: bold;
    color: #3acbe6;
    background-color: transparent;
    padding: 10px 20px;
    cursor: pointer;
}

.form-visual {
    background-color: #f7f7f7;
    text-align: center;
}

.form-container {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    box-shadow: 0 0 2px rgba(0,0,0,.1);
    margin-top: 20%;
    width: 80%;
    padding: 20px 10px;
}

.form-created {
    text-align: left;
}

.form-created input {
    height: 60px;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}

.btn-danger {
    border-radius: 30px;
    width: 100%;
    height: 60px;
}